body {
    font-family: 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #ffecd2, #fcb69f);
    color: #563d3d;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 160px;
    margin: 20px auto;
}

p {
    font-size: 1.2em;
    padding: 0 20px;
    line-height: 1.6;
    text-align: justify;
}
