body {
    font-family: 'Lucida Handwriting', cursive;
    background: linear-gradient(to bottom, #a1c4fd, #c2e9fb);
    color: #2c3e50;
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    width: 160px;
    margin: 20px auto;
}

audio {
    margin-top: 20px;
}

p {
    font-size: 1.3em;
    padding: 0 20px;
    line-height: 1.6;
    text-align: justify;
}
