<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/alegria.css">
    <title>Alegria</title>
    <link rel="shortcut icon" href="../Imagens/alegria.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/Alegria.webp" alt="">
        <p>
            A sua alegria é algo realmente contagiante meu amor! Quando você está feliz, quando está alegre, não importa como o dia esteja, tudo melhora sabe? 
            
            <br><br>Te ver alegre é algo que realmente melhora o meu dia meu amor.
        </p>
    </div>
</body>
</html>