<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/carinho.css">
    <title>Carinho</title>
    <link rel="shortcut icon" href="../Imagens/carinho.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/Carinho1.png" alt="">
        <p>
            A meu amor, o seu carinho... De tudo o que faz por mim, o seu toque de carinho é o que me deixa mais... derretido sabe? Eu amo DEMAIS o seu carinho comigo, o seu toque, as suas palavras... tudo sabe vida? Amo cada carinho que faz pra mim e comigo. Esses gestos só fazem eu querer ficar ainda mais com você meu amor! Só faz meu amor ficar maior, meu desejo aumentar e tudo mais. Nunca pare mo, pufavôôôôô
        </p>
    </div>
</body>
</html>