<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/coracao.css">
    <title>Coração</title>
    <link rel="shortcut icon" href="../Imagens/coracao1.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/CoracaoCardio.png" alt="" srcset="">
        <p>
            A meu amor, o que falar do seu enorme coração?<br><br>
            Você sempre pensa em tudo antes de pensar em você mesma, e isso é muito lindo meu bem! Amo ver isso em você minha princesa! Sou fissurado em você sabia? Graças ao seu enorme coração, você me da forças para continuar lutando pelo meu, seu e nosso futuro!
        </p>
    </div>
</body>
</html>