<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/coracao.css">
    <title>Corpo</title>
    <link rel="shortcut icon" href="../Imagens/corpo.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/corpos.png" alt="">
        <p>
            O seu corpo é a coisa mais linda que eu já vi na minha VIDAAAA! <br>
            Teu corpo me deixa paralisado e me faz ficar totalmente parado apenas admirando e apreciando cada centímetro do seu corpo maravilhoso!
        </p>
    </div>
</body>
</html>