<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/cuidado.css">
    <title>Cuidado</title>
    <link rel="shortcut icon" href="../Imagens/cuidado.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/cuidados.png" alt="">
        <p>
            O seu cuidado comigo... é algo que me acalma tanto sabe? Parece que você toca a minha alma, entra no meu corpo e abraça o Andersonzinho que tá lá encolhidinho. Muito obrigado por cuidar tanto de mim minha vida! Você é realmente TUDO pra mim!
        </p>
    </div>
</body>
</html>