<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/entusiasmo.css">
    <title>Entusiasmo</title>
    <link rel="shortcut icon" href="../Imagens/entusiasmo.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/entusiasmo2.png" alt="" srcset="">
        <p>
            O seu entusiasmo... Quando você fica entusiasmada você contagia tudo ao seu redor. É como se tudo ao seu redor ficasse mais brilhoso, ficasse melhor, calmo, aquecido... Tudo fica bem sabe? Principalmente quando junto do seu entusiasmo vem o seu sorriso maravilhoso e o seus olhos magníficos sabe? Amo MUITO isso meu bem!
        </p>
    </div>
</body>
</html>