<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/olhos.css">
    <title>Olhos</title>
    <link rel="shortcut icon" href="../Imagens/olho.jpg" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/olhos.png" alt="">        
        <p>
            Aaaa os seus olhos... Acho que de todo o seu corpo, os seus olhos e seu cabelo é o que eu mais amo!
            Seus olhos castanhos são tão hipnozantes... são perfeitos, brilhosos, grandes... SÃO PERFEITOS AMOR EU AMO MUITO!
        </p>
        <audio controls>
            <source src="../Sons/Olhos_Castanhos.m4a" type="audio/mpeg">
        </audio>

        <p>
            Ainda não acabou a surpresa meu amor. <a href="confirmacao.html">Clica aqui pra continuar!</a>
        </p>
    </div>
</body>
</html>