<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/personalidade.css">
    <title>Personalidade</title>
    <link rel="shortcut icon" href="../Imagens/personalidade.png" type="image/x-icon">
</head>
<body>
    <img src="../Imagens/personalidade.png" alt="" srcset="">
    <p>O que falar da sua personalidade? Com certeza é algo único! Com todo o seu charme na forma de pensar, agir e falar. Foi o que me cativou em você quando começamos a conversar sabe? Amo muito isso vida!</p>
</body>
</html>