<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/risada.css">
    <title>Risada</title>
    <link rel="shortcut icon" href="../Imagens/risada.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/risadas.png">
        <p>
            A sua risada é um dos melhores sons que já ouvi na vida! É um som que entra na alma e cura toda a ferida e tristeza que tenha lá dentro. A sua risada é como aquela música favorita sua que faz tempo que não houve. É impossível enjoar de te ouvir rir e me faz rir também com a sua risada. Mas não rio de você, eu rio COM você sabe? Muito obrigado por me permitir te ouvir rir meu amor!
        </p>
    </div>
</body>
</html>