<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/sorriso.css">
    <title>Sorriso</title>
    <link rel="shortcut icon" href="../Imagens/sorriso.png" type="image/x-icon">
</head>
<body>
    <div>
        <img src="../Imagens/sorrisos.webp" alt="">
        <p>O seu sorriso... é o sorriso mais lindo que existe no mundo todo! Eu amo DEMAIS o teu sorriso minha vida. E te ver sorrindo faz eu me sentir tão bem, te ver sorrir é o mais importante pra mim sempre sabe vida? Teu sorriso acalma a minha alma e traz uma paz que não consigo nem descrever</p>
    </div>
</body>
</html>