<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/surpresa.css">
    <title>SUPRESA</title>
    <link rel="shortcut icon" href="../Imagens/alianca.png" type="image/x-icon">
</head>
<body>
    <div>
        <p><strong> Lara Caiane Atanasio Vieira</strong></p>
        <img src="../Imagens/alinaca.webp" alt="">        
        
        <br>
        <span>Você aceita passar o resto da sua vida comigo?</span>
        <button>Sim</button><button>Com Certeza!</button>
    </div>
</body>
</html>